body {
  background-color: #d9dfd7;
  /*NAVEGADOR*/
  /*CAROUSEL*/
  /*ETIQUETA NUEVOS PRODUCTOS*/
  /*GALERIA*/
  /*BOTON*/
  /*TESTIMONIOS*/
  /*FOOTER*/
  /*SECCION NOSOTROS*/
  /*SECCION CONTACTO*/
  /*SECCION PRODUCTOS*/
  /*SECCION ENVIOS*/ }
  body .nav__navbar {
    background-color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    min-height: 100px; }
    body .nav__navbar .navbar__imagenLogo {
      width: 125px;
      height: 100px; }
    body .nav__navbar .navbar__navbar-nav {
      font-size: 20px;
      font-family: "Josefin Sans", sans-serif; }
      body .nav__navbar .navbar__navbar-nav .nav-item .nav-link {
        color: #d9dfd7;
        margin-left: 12px; }
      body .nav__navbar .navbar__navbar-nav .nav-link:hover {
        color: #ada9a9; }
    body .nav__navbar .navbar__navbar-toggler {
      color: white;
      font-size: 35px; }
  body .carousel__div .carousel__div__item {
    margin-top: 115px; }
    body .carousel__div .carousel__div__item .fotoCarousel__img {
      height: 650px;
      background: no-repeat center center scroll; }
    body .carousel__div .carousel__div__item .carousel__div__caption {
      bottom: 250px; }
      body .carousel__div .carousel__div__item .carousel__div__caption .carousel__h5__caption {
        font-size: 100px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 90000px !important;
        font-family: "Amatic SC", cursive; }
      body .carousel__div .carousel__div__item .carousel__div__caption .carousel__p__caption1 {
        width: 60%;
        margin: auto;
        padding: 40px;
        color: #a2ccd1;
        font-family: "Amatic SC", cursive;
        font-size: 65px; }
      body .carousel__div .carousel__div__item .carousel__div__caption .carousel__p__caption2 {
        width: 60%;
        margin: auto;
        padding: 40px;
        color: #eb9bc3;
        font-family: "Amatic SC", cursive;
        font-size: 65px; }
      body .carousel__div .carousel__div__item .carousel__div__caption .carousel__a__caption {
        text-transform: uppercase;
        background: #262626;
        padding: 10px 30px;
        display: inline-block;
        color: #fff;
        margin-top: 15px;
        font-family: "Josefin Sans", sans-serif;
        border-color: #fcffff !important;
        border-style: solid !important; }
      body .carousel__div .carousel__div__item .carousel__div__caption .carousel__a__caption:hover {
        background-color: white;
        color: black;
        border-color: black !important;
        border-style: solid !important;
        font-style: none !important; }
      body .carousel__div .carousel__div__item .carousel__div__caption .div__iconos__corousel {
        margin-top: 50px; }
        body .carousel__div .carousel__div__item .carousel__div__caption .div__iconos__corousel .a__icono__carousel .icono__carousel {
          padding: 0px 80px 0px 80px;
          font-size: 75px; }
  body .etiqueta__container {
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 20px; }
    body .etiqueta__container .h2__container__productosDestacados {
      font-family: "Major Mono Display", monospace; }
  body .section__galeria {
    background: linear-gradient(100deg, #eb9bc3 50%, #a2ccd1 50%);
    box-shadow: 0px 0px 10px 3px #999797;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    border-radius: 1%;
    padding: 50px 0; }
    body .section__galeria .row .galeria__div .portfolio-container img {
      -webkit-filter: sepia(100%);
      filter: sepia(100%);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      height: 350px;
      width: 300px;
      margin-bottom: 40px;
      border: 2px solid #d3d0d0; }
    body .section__galeria .row .galeria__div .portfolio-container:hover img {
      -webkit-filter: sepia(0);
      filter: sepia(0); }
    body .section__galeria .row .galeria__div .div__portfolio-details {
      margin-top: -30px;
      margin-bottom: 40px; }
      body .section__galeria .row .galeria__div .div__portfolio-details .galeria__h3 {
        font-size: 15px;
        padding-top: 5px; }
  body .botonFinal__btn {
    margin-top: -90px;
    margin-bottom: 40px;
    margin-left: 43%; }
  body .container__testimonios {
    background-color: #1c1d1b;
    margin-bottom: 70px;
    margin-top: 40px;
    border-radius: 1.5%;
    box-shadow: 0px 0px 10px 3px #0a0a0a; }
    body .container__testimonios .single-box__testimonios {
      position: relative;
      margin-bottom: 30px;
      margin-top: 40px; }
      body .container__testimonios .single-box__testimonios .img-area__testimonios {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 5px solid #fff;
        overflow: hidden;
        top: 15px;
        left: 125px;
        border-radius: 50%; }
        body .container__testimonios .single-box__testimonios .img-area__testimonios .img-area-img__testimonios {
          width: 100%; }
      body .container__testimonios .single-box__testimonios .img-text__testimonios {
        width: 100%;
        height: 300px;
        display: block;
        text-align: center;
        padding: 40% 5%;
        background: #262626;
        color: #fff;
        border-radius: 15px; }
        body .container__testimonios .single-box__testimonios .img-text__testimonios .img-txt-h2__testimonios {
          font-size: 25px;
          text-transform: uppercase;
          letter-spacing: 2px; }
        body .container__testimonios .single-box__testimonios .img-text__testimonios .img-txt-p__testimonios {
          font-size: 14px; }
    body .container__testimonios .carousel-indicators__testimonios {
      bottom: -15px; }
  body .container__footer {
    color: white; }
    body .container__footer .columna2__div .listaProductos__ul {
      height: 100px;
      width: 50px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style: none;
      margin-left: -52px; }
      body .container__footer .columna2__div .listaProductos__ul .producto__li {
        padding-bottom: 1px;
        padding-right: 5px;
        margin: 10px; }
    body .container__footer .columna3__div .informacion__ul .informacion__li {
      padding-bottom: 5px;
      padding-left: 7px; }
  body #hero {
    background: url(../img/mandalas.jpg);
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
    margin-bottom: -40px; }
    body #hero .container__seccionNosotros {
      border-style: inherit;
      margin-top: 50px;
      margin-bottom: 50px;
      height: 100%;
      background-image: url(../img/equipo.PNG);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1%; }
      body #hero .container__seccionNosotros .h1__seccionNosotros {
        font-family: "Major Mono Display", monospace;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-top: 40px; }
      body #hero .container__seccionNosotros .p__seccionNosotros {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 35px;
        margin-bottom: 80px; }
  body .container__contacto .content {
    margin: 6%;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0px 0px 10px 3px grey;
    background: #ffffff;
    margin-top: 18%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px; }
    body .container__contacto .content .div__img__form {
      padding-right: 20px;
      padding-top: 60px; }
      body .container__contacto .content .div__img__form .img-fluid {
        height: 250px; }
    body .container__contacto .content .div__form {
      border-style: solid;
      border-color: green; }
      body .container__contacto .content .div__form .h2__container__contacto {
        font-family: "Major Mono Display", monospace;
        margin-left: 28%;
        padding-bottom: 50px;
        margin-top: 20px; }
      body .container__contacto .content .div__form .form-control {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border-color: #00ac96 !important;
        border-style: solid !important;
        border-width: 0 0 1px 0 !important;
        padding: 0px !important;
        color: #495057;
        height: auto;
        border-radius: 0;
        background-color: #fff;
        background-clip: padding-box; }
      body .container__contacto .content .div__form .form-control:focus {
        color: #495057;
        background-color: white;
        border-color: white;
        outline: 0;
        box-shadow: none; }
      body .container__contacto .content .div__form .btn__formulario {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 140px;
        border-color: #00ac96;
        color: #00ac96;
        background-color: white; }
      body .container__contacto .content .div__form .btn__formulario:hover {
        background-color: #00ac96;
        color: white; }
  body .etiqueta__container__2 {
    margin-top: 125px; }
    body .etiqueta__container__2 .h2__container__nuestroCatalogo {
      font-family: "Major Mono Display", monospace;
      padding: 40px; }
    body .etiqueta__container__2 .card {
      border-style: solid;
      border-color: black; }
  body .card-img-filter {
    filter: brightness(0.5); }
  body .card {
    transition-duration: 0.6s;
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0); }
  body .card-effect:hover .card {
    clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%); }
  body .card-img-overlay {
    transition-duration: 0.6s; }
  body .card-effect:hover .card-img-overlay {
    transform: scale(0.9); }
  body .h4__envios {
    font-size: 50px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 4px; }
  body .container__envios {
    padding: 80px;
    margin-bottom: 60px;
    border-radius: 5px;
    border-style: solid;
    background: url(../img/mandalas.jpg);
    background-color: #545e5e; }
  body .p__envios {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif; }
