@import "tipografia";
@import "colores";

body {
	background-color: rgb(217, 223, 215);
	margin: 0;
	padding: 0;
	

	/*NAVEGADOR*/
	.nav__navbar {
		background-color: black;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		.navbar__imagenLogo {
			width: 125px;
			height: 100px;
		}
		.navbar__navbar-nav {
			font-size: 20px;
			font-family: $font-primario;
			.nav-item .nav-link {
				color: rgb(217, 223, 215);
				margin-left: 12px;
			}
			.nav-link:hover {
				color: rgb(152, 155, 151);
			}
		}
		.navbar__navbar-toggler {
			color: $color-primario;
			font-size: 35px;
		}
	}

	/*CAROUSEL*/
	.carousel__div {
		.carousel__div__item {
			margin-top: 115px;
			.fotoCarousel__img {
				height: 650px;
				background: no-repeat center center scroll;
			}
			.carousel__div__caption {
				bottom: 250px;
				margin-top: 150px !important;
			
				.carousel__h5__caption {
					font-size: 100px;
					text-transform: uppercase;
					letter-spacing: 4px;
					
					font-family: "Amatic SC", cursive;
				}
				.carousel__p__caption1 {
					margin: auto;
					padding: 40px;
					color: rgb(162, 204, 209);
					font-family: "Amatic SC", cursive;
					font-size: 65px;
				}

				.carousel__p__caption2 {
					width: 60%;
					margin: auto;
					padding: 40px;
					color: rgb(235, 155, 195);
					font-family: "Amatic SC", cursive;
					font-size: 65px;
				}
				.carousel__a__caption {
					text-transform: uppercase;
					background: #262626;
					padding: 10px 30px;
					display: inline-block;
					color: #fff;
					margin-top: 15px;
					font-family: $font-primario;
					border-color: #fcffff !important;
					border-style: solid !important;
				}

				.carousel__a__caption:hover {
					background-color: white;
					color: black;
					border-color: black !important;
					border-style: solid !important;
					font-style: none !important;
				}
				.div__iconos__corousel {
					margin-top: 50px;
					.a__icono__carousel {
						.icono__carousel {
							padding: 0px 80px 0px 80px;
							font-size: 75px;
						}
					}
				}
			}
		}
	}
	/*ETIQUETA NUEVOS PRODUCTOS*/
	.etiqueta__container {
		padding: 20px;
		margin-top: -40px;
		margin-bottom: 20px;
		
		
		.h2__container__productosDestacados {
			font-family: $font-secundario;
		}
	}

	/*GALERIA*/

	.section__galeria {
		
		margin-top: 5px;
		text-align: center;
		padding: 50px 0;
		.row {
			
			.galeria__div {
	
				.portfolio-container img {
					-webkit-filter: sepia(100%);
					filter: sepia(100%);
					-webkit-transition: 0.3s ease-in-out;
					transition: 0.3s ease-in-out;
					height: 250px;
					width: 	200px;
					margin-bottom: 40px;
					

					border: 2px solid rgb(211, 208, 208);
				}

				.portfolio-container:hover img {
					-webkit-filter: sepia(0);
					filter: sepia(0);
				}
				.div__portfolio-details {
					margin-top: -30px;
					margin-bottom: 40px;
					.galeria__h3 {
						font-size: 15px;
						padding-top: 5px;
						font-family: 'Roboto Mono', monospace;;
					}
					.galeria__h4{
						font-size: 13px;
						padding-top: 5px;
						font-family: 'Roboto Mono', monospace;;

					}
				}
			}
			
		}
		.div__boton__final{
			.botonFinal__btn{
				
				font-family: $font-primario;
				
			}

		}
	}

	/*TESTIMONIOS*/
	.container__testimonios {
		background-color: rgb(28, 29, 27);
		margin-bottom: 70px;
		margin-top: 40px;
		border-radius: 1.5%;
		box-shadow: 0px 0px 10px 3px rgb(10, 10, 10);
		.single-box__testimonios {
			position: relative;
			margin-bottom: 30px;
			margin-top: 40px;
			.img-area__testimonios {
				position: absolute;
				width: 100px;
				height: 100px;
				border: 5px solid #fff;
				overflow: hidden;
				top: 15px;
				left: 125px;
				border-radius: 50%;
				.img-area-img__testimonios {
					width: 100%;
				}
			}
			.img-text__testimonios {
				width: 100%;
				height: 300px;
				display: block;
				text-align: center;
				padding: 40% 5%;
				background: #262626;
				color: #fff;
				border-radius: 15px;
				.img-txt-h2__testimonios {
					font-size: 25px;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				.img-txt-p__testimonios {
					font-size: 14px;
				}
			}
		}
		.carousel-indicators__testimonios {
			bottom: -15px;
		}
	}

	/*FOOTER*/

	.container__footer {
		color: $color-primario;
		.columna2__div {
			.listaProductos__ul {
				height: 100px;
				width: 50px;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				list-style: none;
				margin-left: -52px;
				.producto__li {
					padding-bottom: 1px;
					padding-right: 5px;
					margin: 10px;
				}
			}
		}
		.columna3__div {
			.informacion__ul {
				.informacion__li {
					padding-bottom: 5px;
					padding-left: 7px;
				}
			}
		}
	}

	/*SECCION NOSOTROS*/

	#hero {
		background: url(../img/mandalas.jpg);
		text-align: center;
		padding: 50px 0;
		margin-top: 40px;
		margin-bottom: -40px;
		.container__seccionNosotros {
			border-style: inherit;
			margin-top: 50px;
			margin-bottom: 50px;
			height: 100%;
			background-image: url(../img/equipo.PNG);
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 1%;

			.h1__seccionNosotros {
				font-family: $font-secundario;
				margin-top: 80px;
				margin-bottom: 80px;
				padding-top: 40px;
			}
			.p__seccionNosotros {
				font-family: $font-primario;
				font-weight: 900;
				color: rgb(0, 0, 0);
				font-size: 35px;
				margin-bottom: 80px;
			}
		}
	}

	/*SECCION CONTACTO*/
	.container__contacto {
		.content {
			margin: 6%;
			padding: 4rem 1rem 4rem 1rem;
			box-shadow: 0px 0px 10px 3px grey;
			background: #fdfcfb;
			margin-top: 18%;
			font-family: $font-primario;
			font-size: 20px;

			.div__img__form {
				padding-right: 20px;
				padding-top: 60px;
				.img-fluid {
					height: 250px;
				}
			}

			.div__form {
				border-style: solid;
				border-color: green;
				.h2__container__contacto {
					font-family: $font-secundario;
					padding-bottom: 50px;
					margin-top: 20px;
				}

				.form-control {
					display: block;
					width: 100%;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					border-color: #00ac96 !important;
					border-style: solid !important;
					border-width: 0 0 1px 0 !important;
					padding: 0px !important;
					color: #495057;
					height: auto;
					border-radius: 0;
					background-color: #fff;
					background-clip: padding-box;
				}

				.form-control:focus {
					color: #495057;
					background-color: white;
					border-color: white;
					outline: 0;
					box-shadow: none;
				}

				.btn__formulario {
					margin-top: 20px;
					margin-bottom: 20px;
					border-color: #00ac96;
					color: #00ac96;
					background-color: white;
				}

				.btn__formulario:hover {
					background-color: #00ac96;
					color: white;
				}
			}
		}
	}

	/*SECCION PRODUCTOS*/
	.etiqueta__detallecompra{
		font-family: $font-secundario;
			padding: 20px;
	}
	.etiqueta__container__2 {
		margin-top: 125px;
		.h2__container__nuestroCatalogo {
			font-family: $font-secundario;
			padding: 20px;
		}

		.card {
			border-style: solid;
			border-color: black;
		}
	}

	/*SECCION ENVIOS*/

	.card-img-filter{
		filter: brightness(0.5);
	}
	.card{
		transition-duration: 0.6s;
		clip-path: polygon(50% 0, 100% 0, 100% 50%,100% 100%,50% 100%,0 100%,0 50%,0 0);
	}
	.card-effect:hover .card{
		clip-path: polygon(50% 0, 50% 0, 100% 50%,100% 50%,50% 100%,50% 100%,0 50%,0 50%);

	}
	.card-img-overlay{
		transition-duration: 0.6s;
	}
	.card-effect:hover .card-img-overlay{
		transform:scale(0.9);
	}
	.h4__envios{
		font-size: 50px;
		padding: 20px;
		font-family: $font-primario;
		letter-spacing: 4px;

	}

	.container__envios{
		padding: 80px;
		margin-bottom: 60px;
		border-radius: 5px;
		border-style: solid;
		background:  url(../img/mandalas.jpg);
		background-color: rgb(84, 94, 94);
		
	}

	.p__envios{
		font-size: 20px;
		font-family: $font-primario;
	}

	.carousel__a__envios {
		text-transform: uppercase;
		background: #262626;
		padding: 10px 30px;
		display: inline-block;
		color: #fff;
		margin-top: 15px;
		font-family: $font-primario;
		border-color: #fcffff !important;
		border-style: solid !important;
	}

	.carousel__a__envios:hover {
		background-color: white;
		color: black;
		border-color: black !important;
		border-style: solid !important;
		font-style: none !important;
	}
	

	@media screen and (max-width: 700px) {
		.h2__container__productosDestacados {
			font-size: 25px;
		}

		.h2__container__nuestroCatalogo {
			font-size: 25px;
		}

		.carousel__h5__caption {
			font-size: 50px !important;
			padding-top: 80px !important;
		}

		.carousel__p__caption1, .carousel__p__caption2 {
			font-size: 28px !important;
		}

		.carousel__a__caption{
			font-size: 10px;
		}
		.div__iconos__corousel {
			display: flex;
			flex-direction: row;
			justify-content: center;
			.icono__carousel{
				font-size: 30px !important;
				padding: 0px 20px 0px 20px !important;
			}
		}
		
		.row__galeria{
			display: flex;
			flex-direction: row;
			justify-content: center;
			.portfolio-container img{
				height: 150px !important;
				width: 125px !important;
			}
		}

		.container__testimonios{
			display: none !important;
		}

		.h4__envios{
			font-size: 15px;
			padding-bottom: 1px;
		}

		.p__envios{
			font-size: 5px;
			padding-bottom: 1px;
		}

		.carousel__a__envios{
			font-size: 5px  !important;
			margin-top: -1px;
		}

		.galeria__h3{
			font-size: 9px  !important;
			padding-top: 1px !important;
		}

			
	}

	@media screen and (max-width: 1200px) and (min-width: 700px) {


		.h2__container__productosDestacados {
			font-size: 55px;
		}

		.h2__container__nuestroCatalogo {
			font-size: 55px;
		}

		.carousel__h5__caption {
			font-size: 65px !important;
			padding-top: 80px !important;
		}

		.carousel__p__caption1, .carousel__p__caption2 {
			font-size: 33px !important;
		}

		.carousel__a__caption{
			font-size: 15px;
		}
		.div__iconos__corousel {
			display: flex;
			flex-direction: row;
			justify-content: center;
			.icono__carousel{
				font-size: 40px !important;
				padding: 0px 20px 0px 20px !important;
			}
		}

		.container__testimonios{
			display: none !important;
		}

		.h4__envios{
			font-size: 40px;
		}

		.p__envios{
			font-size: 15px;
		}

		.carousel__a__envios{
			font-size: 15px  !important;
		}
			
			
	}

	
	
	.prodCarrito{
		.prodCarrito__h2{
			font-family: $font-secundario;
		}
	}

	.tabla__modal{
		background-color: white;
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		border: solid 5px #0F362D;
		font-size: 14px;
		th, td{
			padding: 0;
			border: solid 1px #0F362D;
		}
		thead{
			background-color: #246355;
			color:white;
			border-bottom: solid 5px #0F362D;
		}
		tr:nth-child(even){
			background-color: #ddd;
		}
	}

	.tabla__compra{
		background-color: white;
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		border: solid 0.5px #0F362D;
		font-size: 14px;
		th, td{
			padding: 20px;
		}
		thead{
			background-color: #246355;
			color:white;
			border-bottom: solid 5px #0F362D;
		}
		tr:nth-child(even){
			background-color: #ddd;
		}
		tr:hover td{
			background-color: #369681;
			color:white;
		}
	}

	.h3__total{
		font-size: 18px;
		padding-left: 20px;
		margin:5px;
	}

	.h3__total_compra{
		font-size: 25px;
		padding-top: 30px;
		margin:5px;
		font-family: 'Roboto Mono', monospace;;
	}
	.carrito__h6{
		font-size: 15px;
		padding-top: 5px;
		font-family: 'Roboto Mono', monospace;;
	}
	.carrito__h5{
		font-size: 18px;
		padding-top: 5px;
		font-family: 'Roboto Mono', monospace;;

	}
	.etiqueta__carrito{
		font-family: $font-secundario;
			padding: 15px;
	}

	.shoppingCartItemQuantity{
		width:55px;
		text-align: left;
	}

	.buttonDelete{
		margin-right: 90px;
	}

	.botonCompraFinal{
		height: 40px;
	}

	.botonConfirmarCompra{
		height: 40px;
		
	}
	.dolarButton{
		height: 40px;
		width: 120px;
	}
.elemento__compra{
	margin-top: 20px;
}
	
	.carrito__h5__compra{
				font-size: 30px;
				font-family: 'Roboto Mono', monospace;
	}

	.carrito__h6__compra{
		font-size: 24px;
				font-family: 'Roboto Mono', monospace;
	}
			.botonCompraFinal{
				margin-right: 20px;
			}
	.carrito__total__row{
		margin-top:40px;
		margin-bottom:40px;
	}
	.icono__carrito__div{
		position:absolute;
		left:82%;
		top: 18%;

		.icono__carrito{
			color: rgb(117, 14, 14);
			font-size: 75px;
		}

	}
	
}
